# ABOUT:
- given the shopee address elements extraction dataset, https://www.kaggle.com/c/scl-2021-ds/data
- we generate two text classification datasets:
    1. POI existence dataset - whether POI exists in the raw address
    2. street existence dataset - whether street exists in the raw address
- each with 2 labels:
    1. exist
    2. does not exist

In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\tanch\Documents\Coding Competitions\Shopee\Shopee Address Elements Extraction (local)\datasets\train.csv\train.csv")
df = df.set_index('id')
df.head()

,raw_address,POI/street
id,,
0,jl kapuk timur delta sili iii lippo cika 11 a ...,/jl kapuk timur delta sili iii lippo cika
1,"aye, jati sampurna",/
2,setu siung 119 rt 5 1 13880 cipayung,/siung
3,"toko dita, kertosono",toko dita/
4,jl. orde baru,/jl. orde baru

## Generate labels for text classification
- we generate 2 labels:
    - "exist"
    - "does not exist"
- we generate 2 datasets - one for POI another for street

In [2]:
# split 'POI/street' column into 2 individual columns
df[['POI', 'street']] = df['POI/street'].str.split('/', expand=True)

In [3]:
# generrate two datasets - one for POI another for street
POI_df = df[["raw_address","POI"]]
street_df = df[["raw_address","street"]]

In [4]:
def generate_label(row, target_colname):
    if row[target_colname]!="":
        return "exist"
    return "does not exist"

In [5]:
POI_df.loc[:,'label'] = POI_df.apply(lambda row:  generate_label(row,"POI"), axis = 1)

C:\Users\tanch\anaconda3\lib\site-packages\pandas\core\indexing.py:1597: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
C:\Users\tanch\anaconda3\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [7]:
street_df.loc[:,'label'] = street_df.apply(lambda row:  generate_label(row,"street"), axis = 1)

C:\Users\tanch\anaconda3\lib\site-packages\pandas\core\indexing.py:1597: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
C:\Users\tanch\anaconda3\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [6]:
POI_df.tail()

,raw_address,POI,label
id,,,
299995,jend ahmad yani 331 kertasari ciamis,,does not exist
299996,"raya cila kko, cilandak timur kel.",,does not exist
299997,tanjung gusta jl. yaya 2 no 17,,does not exist
299998,jalan cipadu jaya taman asri gang bijaksana 3 ...,taman asri,exist
299999,jaya maspion permata blok beryl b2 no.58,jaya maspion permata,exist

In [8]:
street_df.tail()

,raw_address,street,label
id,,,
299995,jend ahmad yani 331 kertasari ciamis,jend ahmad yani,exist
299996,"raya cila kko, cilandak timur kel.",raya cila kko,exist
299997,tanjung gusta jl. yaya 2 no 17,,does not exist
299998,jalan cipadu jaya taman asri gang bijaksana 3 ...,,does not exist
299999,jaya maspion permata blok beryl b2 no.58,,does not exist

## Export dataset for text classification
- the purpose of this dataset is to train two models
    - one predicts whether POI exists
    - another predicts whether street exists

In [9]:
from datasets import Dataset
output_Dataset = Dataset.from_pandas(POI_df[['raw_address', 'label', "POI"]])
from datasets import DatasetDict
output_Dataset = output_Dataset.train_test_split(test_size = 0.05)
output_Dataset

DatasetDict({
    train: Dataset({
        features: ['raw_address', 'label', 'POI', 'id'],
        num_rows: 285000
    })
    test: Dataset({
        features: ['raw_address', 'label', 'POI', 'id'],
        num_rows: 15000
    })
})

In [10]:
output_Dataset.save_to_disk(r"C:\Users\tanch\Documents\Coding Competitions\Shopee\Comp 2 address elements extraction\datasets\POI existence cls dataset")

In [11]:
from datasets import Dataset
output_Dataset = Dataset.from_pandas(street_df[['raw_address', 'label',"street"]])
from datasets import DatasetDict
output_Dataset = output_Dataset.train_test_split(test_size = 0.05)
output_Dataset

DatasetDict({
    train: Dataset({
        features: ['raw_address', 'label', 'street', 'id'],
        num_rows: 285000
    })
    test: Dataset({
        features: ['raw_address', 'label', 'street', 'id'],
        num_rows: 15000
    })
})

In [12]:
output_Dataset.save_to_disk(r"C:\Users\tanch\Documents\Coding Competitions\Shopee\Comp 2 address elements extraction\datasets\street existence cls dataset")

In [15]:
street_df.label.value_counts()

exist             229857
does not exist     70143
Name: label, dtype: int64

In [16]:
POI_df.label.value_counts()

does not exist    178509
exist             121491
Name: label, dtype: int64